/* app css stylesheet */
#currentPlaylist {
    width: 280px;
    min-height: 20px;
    float: right;
}

#sortable2 {
    width: 280px;
    min-height: 20px;
    float: right;
}

#player {
    position: fixed;
}

li {
    list-style-type: none;
    padding: 5px;
    margin: 5px;
    border: 1px solid #eee;
    width: 100%;
    overflow:auto;
    position: relative;
    background: #d46745;
}

.li-text {
    font-size: 0.9em;
    color: aliceblue;
    float: left;
    clear: right;
    width: 200px;
}

.play-icon {
    width: 20px;
    height: 20px;
    float: right;
    vertical-align: middle;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    margin: auto;
    padding-right: 10px;
}